@import url('./take-exam.css');
p {
    font-size: 18px;
}

.exam.upsert .question--card {
    margin-bottom: 60px;
}

.exam.upsert .question--card .question--actions > button{
    margin-right: 5px;
}

.exam.upsert .question--card--action
{
    background: white;
    width: 100%;
    padding: 8px 100px;
}