:root {
    --green10: rgb(202, 236, 209);
    --green15: rgb(150, 217, 163);
    --green20: rgb(50, 149, 70);

    --red10: rgb(251, 218, 208);
    --red20: rgb(226, 75, 25);
    --red40: rgb(212, 37, 37);

    --orange10: rgb(255, 214, 165);
    --orange20: rgb(255, 153, 31);

    --purple10: rgb(43, 97, 212);
    --purple20: rgb(91, 55, 210);
}